appnope
astroid
bleach
click
decorator
entrypoints
Flask
Flask-Cors
Flask-JWT-Simple
html5lib
ipykernel
#ipython
#ipython-genutils
ipywidgets
isort
itsdangerous
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
lazy-object-proxy
MarkupSafe
mccabe
mistune
nbconvert
nbformat
notebook
numpy
pandocfilters
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
Pygments
PyJWT
pylint
python-dateutil
pyzmq
qtconsole
simplegeneric
six
sqlitedict
terminado
testpath
tornado
traitlets
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
